<div class="row justify-content-center m-5">
    <div class="col-sm-3 col-3 bg-login">
        <h1 class="text-white font-monserrat m-5">Industrial Training Management System. </h1>
    </div>
    <div class="col-5 col-sm-5 custom">
        <h1 class="mt-5 font-monserrat" style=" font-weight: 200px;">Welcome back!</h1>
        <form action="" class="form-group col-sm-8 mt-2 mb-5">
            Log in to your account so you can continue managing students information!
            <br><br>
            <label for="username">Username</label>
            <input type="text" value="username" class="form-control">
            <label for="password">Password</label>
            <input type="password" value="username" class="form-control">
            <br>
            <button type="submit" class="btn form-control"
                style="background-color:  #5b18b2; color:white" onclick="">Login</button>
        </form>
    </div>
</div>
</div>